<form>
  Kwota:
  <input type="text" [(ngModel)]="transaction.amount" [ngModelOptions]="{standalone: true}">
  Tytuł:
  <input type="text" [(ngModel)]="transaction.title" [ngModelOptions]="{standalone: true}">
  Odbiorca:
  <input type="text" [(ngModel)]="transaction.recipientAccountNumber" (ngModelChange)="setRecipientBranch()" [ngModelOptions]="{standalone: true}">
  <p *ngIf="isRecipientAccountNumber()">{{getRecipientBranch()}}</p>
  <button (click)="createTransaction()">Wykonaj przelew</button>
</form>
