<table border="1">
  <thead></thead>
  <tr>
    <th>Czas akcji</th>
    <th>Kwota</th>
    <th>Saldo</th>
    <th>Typ operacji</th>
    <th>Tytuł</th>
    <th>Odbiorca/Nadawca</th>
  </tr>

  <tbody>
    <tr *ngFor="let transaction of transactions">
      <td>{{transaction.actionTime}}</td>
      <td>{{transaction.amount}}</td>
      <td>{{transaction.balanceAfter}}</td>
      <td>{{transaction.operationType}}</td>
      <td>{{transaction.title}}</td>
      <td>{{transaction.fromTo}}</td>
    </tr>
  </tbody>
</table>
